{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email,{'attr': {'class':'form-control '}}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password','attr':{'class':'form-control'}
        }) }}
	{{form_row(registrationForm.username,{'attr':{'class':'form-control'}})}}
<div class='input-group'>
<div class="input-group-text">
        {{ form_row(registrationForm.agreeTerms,{'attr':{
						'class':'form-check-input',
						'data-toggle':'modal',
						'data-target':'#onayModal'
						}}) }}
</div></div>
        <button id="nedirbu" type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
</div>
<button class="btn bnt-primary" data-toggle="modal" data-target="#onayModal">BAS</button>
<!-- Modal -->
<div class="modal fade" id="onayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ..deneme modalı.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="onayModalKapat">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}

{% endblock %}
