{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	Merhaba Ramazan
	<div class="row">
		<button id="gorevModalBtn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="gorevModal">Görev Ekle</button>
		<div class="modal fade" id="gorevModal" tabindex="-1" aria-labelledby="gorevModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="gorevModalLabel">Görev Ekle</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						{{ form(form) }}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" >Görev Ekle</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Slug</th>
				</tr>
			</thead>
			<tbody>
			{% for gorev in gorevler %}
				<tr>
					<td>{{gorev.name}}</td>
					<td>{{gorev.description}}</td>
					<td>{{gorev.slug}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
